:root {
   --mainbgcolor: #FFF;
   --maintxtcolor: #666;
   --databarbgcolor: #444;
   --databartxtcolor: #AAA;
   --databartxthovcolor: #CCC;
   --headercolor: #333;
   --imageopacity: 1;
   --inputbgcolor: rgba(255,255,255,0.9);
   --lightblockbgcolor : rgba(128,128,128,0.05);
   --blockbgcolor: rgba(128,128,128,0.1);
   --outlinecolor : rgba(128,128,128,0.1);
   --tableoutlinecolor: rgba(128,128,128,0.2);
   --mutedtextcolor : rgba(128,128,128, 0.7);
   --tabselectcolor: rgba(128,255,240,0.4);

   --bgred: rgba(255,50,50,0.3); 
   --bgblue: rgba(50,150,255,0.3); 
   --bggreen: rgba(50,255,50,0.3); 
   --bgyellow: rgba(255,255,50,0.3); 
   --bgorange: rgba(255,150,50,0.3); 
   --bggray: rgba(128,128,128,0.1); 
   --bgpurple: rgba(200,50,255,0.3); 
}
body {
   position: fixed; /*absolute;*/
   top: 0; bottom: 0; left: 0; right: 0;
   overflow: hidden;
}
button > *, a > * { pointer-events: none; }

/* Some theming stuff */
html, body, .uk-modal-dialog, .uk-dropdown {
   background-color: var(--mainbgcolor);
   color: var(--maintxtcolor);
}
.databar, .databar a {
   background-color: var(--databarbgcolor);
   color: var(--databartxtcolor);
}
.databar a:hover { 
   color: var(--databartxthovcolor); 
}
h1, h2, h3, h4, h5, h6, .uk-text-emphasis, .uk-description-list>dt,
.uk-accordion-title, .uk-form-label, .myinput { 
   color: var(--headercolor) !important;
}
img { 
   image-rendering: -webkit-optimize-contrast; 
   opacity: var(--imageopacity);
}
pre, .uk-input, .uk-search-input, .uk-select, .uk-textarea, .uk-button-default,
.myinput {
   background-color: var(--inputbgcolor) !important; /* TODO: do this WITHOUT important */
   border: 1px solid var(--outlinecolor) !important;
   color: inherit;
}
.uk-heading-divider {
   border-bottom: calc(.2px + .05em) solid rgba(128,128,128,0.2);
}
.uk-input:focus, .uk-select:focus, .uk-textarea:focus {
   color: var(--headercolor);
   background-color: var(--inputbgcolor);
   border: 1px solid #1e87f0 !important;
   /*filter: contrast(1.2);*/
}
.hover:hover {
   background-color: var(--lightblockbgcolor);
}
/* UIkit reconfiguring */
code { 
   white-space: pre-wrap !important; 
   background-color: var(--lightblockbgcolor) !important;
   display: inline-block;
   color: #789 !important;
}
blockquote { 
   background-color: var(--lightblockbgcolor) !important;
   margin-bottom: 0.4em; 
   font-size: 1.0em;
   line-height: 1.5;
   padding: 0.5em 0.65em;
   display: block;
   border-radius: 0.5em;
   color: inherit;
}
.content h1, .content h2, .content h3 {
   margin-top: 10px;
   margin-bottom: 10px;
}
.content h4, .content h5, .content h3 {
   margin-top: 0px;
}
.uk-button-default:focus, .uk-button-default:hover,
.uk-checkbox {
   background-color: rgba(255,255,255,0.1);
   border: 1px solid rgba(128,128,128, 0.3);
   color: inherit;
}
.uk-modal {
   z-index: 1030; /* WARN: this puts them above dropdowns! */
}
.uk-modal-header {
   background-color: var(--lightblockbgcolor);
   border-bottom: 1px solid var(--outlinecolor);
}
.uk-text-meta { color: var(--mutedtextcolor); }
.uk-card-default {
   box-shadow: none;
   border: 1px solid var(--outlinecolor);
   background-color: var(--mainbgcolor);
}
.uk-modal h3 { margin-top: 25px; } /* Reduce margin top wow */
.uk-sortable-empty { min-height: unset; }
/*.uk-link { cursor: pointer; }*/
hr { border-top: 1px solid rgba(128,128,128, 0.2); }
/* a { overflow: hidden; }*/
.notext { font-size: 0; } /*display: contents; }*/
audio {
   height: 30px;
   display: block;
   max-width: 100%;
}
/* Stuff that should probably be taken over by uikit */
/*input[type="file"] { cursor: pointer; }*/
a:hover { color: inherit; }
.noevent { pointer-events: none; }
.uk-list-divider>:nth-child(n+2) {
   margin-top: 0;
   padding-top: 0.45em; /* TODO: this is a repeat! */
   border-top: 1px solid var(--outlinecolor);
}
/* Basic page structure */
.databar { padding: 0 0.1em; }
[data-connectionindicator="error"] { 
   filter: hue-rotate(180deg); 
   transform: rotate(15deg);
}
#leftpane { }
#rightpane {
   background-color: var(--lightblockbgcolor);
   border-left: 2px solid var(--outlinecolor);
   width: 30em;
   max-width: calc(100vw - 1px);
   min-width: 10em;
}
#rightpanefooter {
   font-size: 0.7em;
   padding: 0 0.5em;
}
#rightpanenav {
   background-color: var(--blockbgcolor);
}
#rightpanenav >:hover {
   background-color: rgba(128,255,240,0.1);
}
/* left-pane stuff (main content!) */
#maincontentbar {
   background-color: var(--blockbgcolor);
   padding: 0.1em;
}
#maincontentbar [data-stdcontentinfo] > * {
   margin-right: 0.2em;
   /*margin-top: -3px;*/
}
#maincontentbarcontrols {
   float: right;
   color: var(--headercolor);
   /*background: var(--bggreen); var(--blockbgcolor);*/
   background: var(--blockbgcolor);
   border-radius: 3px;
   padding: 0 0.1em;
}
[data-mode="0"] [data-hide0] { display: none; }
[data-mode="1"] [data-hide1] { display: none; }
[data-mode="2"] #maincontentcontainer { flex: 1; }
[data-mode="2"] [data-hide2] { display: none; }

/* Special styling JUST for the sidbar nav */
#rightpanenav .uk-active {
   background-color: var(--tabselectcolor);
   color: #111;
}
.tabnav > div { padding: 0.1em 0; }
.avatar { 
   border: 1px solid rgba(128,128,128,0.5); 
   box-sizing: content-box;
}
#navuseravatar { border-radius: 5px; }
[data-routeuser] .avatar { max-width: 150px; }
#darkmodetoggle {
   text-decoration: none;
   margin: 0 0.9em;
}
/* ------- */
/* Logging
/* ------- */
#logs {
   font-family: monospace;
   font-size: 0.8em;
}
#logs time { 
   font-size: 0.8em; 
   margin: 0.15em;
   opacity: 0.6;
}
.logmessage { white-space: pre-wrap; }
.log_trace { opacity: 0.50; }
.log_debug { color: #74b587; }
.log_error { color: #C42; }
.log_warn { color: #DA6; }
[data-log] { padding: 0.1em 0.5em; }
/* -------------------- */
/* Notification special */
/* -------------------- */
.uk-notification-message {
   border: 2px solid var(--outlinecolor);
}
.notification-actual {
   padding-left: 0.5em;
   padding-right: 0.4em;
}
/* -------------------------------------------------- */
/* Pulse styling (should really just use uikit stuff) */
/* -------------------------------------------------- */
[data-pw] { padding: 0.45em 0.9em 0.5em 0.9em; }
.pwnamerow {
   font-size: 1.1em; /* 1.3em */
   margin-bottom: 0.25em;
}
.pw-users {
   /*background-color: var(--blockbgcolor);*/
   margin-right: 1em;
   /*padding: 0 0.3em;*/
   border-radius: 5px;
}
.pw-users [uk-dropdown] { padding: 0.5em; }
.pw-users table { margin: 0; } 
.pw-users table td { padding: 0.5em 0.4em; }
.pw-users table td:first-child { text-align: right; }
.pw-users [aria-expanded="true"] {  filter: none; }
[data-pwuser] img { 
   margin: 6px 3px; /*0.4rem 0.2em;   */
   vertical-align: top;
   filter: opacity(0.7);
   /*border-radius: 5px;*/
   border-radius: 2px;
}
/* USED FOR MULTIPLE THINGS, OOPS: pwusername, history username,
 * messageframeinfo username */
.username { 
   margin: 0 0.4em;
}

/* Breadcrumb/nav special (uikit default replacements) */
/*#breadcrumbs [data-breadcrumb] { padding-top: 0.15em; }*/
#breadcrumbs a { line-height: 1.0em; }
.bc-collapse>*::before {
   line-height: 1.0em;
   margin-left: 10px !important;
   margin-right: 5px !important;
}
/* Discussions */
[data-discussion] {
   position: relative;
}
[data-atoldest] [data-loadolder] {
   display: none; 
}
#discussionuserlist {
   background-color: var(--lightblockbgcolor);
   border-bottom: 1px solid var(--outlinecolor);
   border-top : 1px solid var(--outlinecolor); /*rgba(128,128,128,0.15);*/
   min-height: 40px; /* so it doesn't grow most of the time */
}
#discussionuserlist::after {
   content: "Viewing";
   margin: 0.5em 1em;
   margin-left: auto;
   font-size: 0.7em;
   color: rgba(128,128,128,0.5);
   float: right;
   display: block;
}
#discussionscontainer {
   min-height: 45%;
}
#discussions {
   overflow-anchor: none;
}
[data-messageframe] .avatar {
   margin: 0.3em;
   width: 30px;
   height: 30px;
}
[data-messageframe] .messagelist {
   padding: 0.0em 0.5em 0.5em 0.5em;
}
[data-messageframe] .messageframeinfo {
   /*font-size: 1.1em;*/
}
[data-messageframe] .messagecontrol {
   visibility: hidden;
   width: 20px;
   height: 20px;
   margin: 0.2em 0.15em;
}
[data-messageframe] time {
   font-size: 0.75em;
}
[data-singlemessage]:focus, [data-singlemessage]:hover  {
   background-color: var(--lightblockbgcolor);
   border: none;
   outline: none;
}
[data-singlemessage]:focus .messagecontrol,
[data-singlemessage]:hover .messagecontrol {
   visibility: visible;
}
[data-singlemessage] .content img {
   height: 100px;
   max-height: 55vh;
   display: block;
   margin: 0.5em 0;
}
[data-singlemessage] .content img:focus {
   height: unset;
}
#postarea {
   border-top: 2px solid var(--outlinecolor);
   padding-bottom: 1px;
}
#postdiscussiontext { 
   transition: height 0.15s ease;
   resize: none; 
   height: 2.2em;
}
[data-discussionuser] {
   display: inline-block;
}
#postdiscussiontext:focus, #postdiscussiontext[data-expand] { height: 5.5em; }
#discussionimageselect { margin: 3px; }
#commenteditinfo { white-space: pre-wrap; }
/* Content */
.content { white-space: pre-wrap; }
.content ul { margin: 0.1em 0 0.4em 0; }
.pagecontrols { margin-right: -15px !important; }
.tableContainer table, .tableContainer td, .tableContainer th {
   border: 1px solid var(--tableoutlinecolor);
   border-collapse: collapse;
}
.tableContainer td {
   padding: 0.2em 0.3em;
}
[data-bgcolor="red"] { background-color: var(--bgred); }
[data-bgcolor="blue"] { background-color: var(--bgblue); }
[data-bgcolor="green"] { background-color: var(--bggreen); }
[data-bgcolor="yellow"] { background-color: var(--bgyellow); }
[data-bgcolor="orange"] { background-color: var(--bgorange); }
[data-bgcolor="gray"] { background-color: var(--bggray); }
[data-bgcolor="purple"] { background-color: var(--bgpurple); }
[data-watched="true"] path {
   fill: #EE5588; 
   color: #EE5588; 
   opacity: 0.8;
}
[data-youtube] { white-space: initial; }
[data-youtubeplayer] iframe {
   max-width: 100%; 
   /*max-height: 35vh;*/
}
/* CategoryLists */
[data-pageitem]:nth-child(even), [data-historyitem]:nth-child(even) {
   background-color: var(--lightblockbgcolor);
}
[data-pageitem] .pageicon {
   margin: 0 0.3em;
}
[data-pageitem] .title {
   font-size: 1.1em;
   padding: 0.2em;
}
/*[data-pageitem] [data-time] { white-space: pre-wrap; }*/
[data-pageitem] .avatar {
   border: none;
   margin-right: 3px;
   margin-left: 6px;
}
/*[data-treeselector] option {
   font-family: monospace;
}*/
/* User settings */
#userlocaloptions input { }
.settings .uk-input, .settings .uk-select { height: 2.1em; }
.settings { font-size: 0.9em; }
/* Search */
#searchconstraints {
   border: 1px solid var(--outlinecolor);
   margin-top: 5px;
}
[data-minisearch] [data-results] {
   box-sizing: content-box;
   min-height: 0;
   max-height: 190px;
}
/*[data-minisearchresult] {
   text-decoration: none;
}*/
/* History */
/*.historybox {
   max-height: 25em;
}*/
[data-historyitem] {
   padding: 0.05em 0.3em;
}
[data-history] {
   padding-bottom: 1.3em;
}
.historycontainer {
   background-color: rgba(128,128,128,0.02);
   max-height: 25em;
}

.lightblock {
   display: block;
   background: var(--lightblockbgcolor);
   border-radius: 3px;
   padding: 1em;
}

.pageform {
}

[data-collectionitem] {
   margin: 0 0.3em 0.1em 0;
   /*margin-bottom: 0.1em;*/
}
[data-special="true"] span {
   color: #1bace4;
   font-weight: bold;
}
[data-collectionitem][data-inline="true"] {
   display: inline-flex;
}
/*[data-special="true"] img {
   background: url(globe.svg) no-repeat;
}*/
input[data-permission] {
   width: 4em;
}
[data-addeveryone] {
   margin-left: 0.2em;
}

.content pre { margin: 0.25em 0; }
pre .keyword { font-weight: bold; }

pre .name, pre .statement { color: #56e8e1; }
pre .string { color: #d86161; }
pre .number { color: #ce4a90; }
pre .keyword, pre .to-step, pre .word-operator { color: #41a9ff; }
pre .comment { color: #86c367; }
pre .variable { color: #aa76d2; }
pre .function { color: #777bec; }
pre .backslash { color: #777; }
pre .operator, pre .equals { color: #777; }
pre .label { color: #e68225; }
pre .constant { color: #7caee2; }

/* Swag animations */
[data-pulsing] {
   animation: pulse 1s infinite;
}

@keyframes pulse {
  0% { filter: none; }
  50% { filter: saturate(2) brightness(1.5); }
  100% { filter: none; }
}

/* Scrollbar! WOW */
::-webkit-scrollbar { width: 10px; } /* width */
textarea::-webkit-scrollbar { width: 3px; } /* width */
::-webkit-scrollbar-track { background: rgba(128,128,128,0.1); } /* Track */
::-webkit-scrollbar-thumb { background: rgba(128,128,128,0.3); } /* Handle */
::-webkit-scrollbar-thumb:hover { background: rgba(128,128,128,0.5); } /* Handle on hover */

/* Some reaction crap or whatever it's called */
@media (min-width: 700px) { 
   #breadcrumbs a, #breadcrumbs>*::before { font-size: 1.1em; }
   [data-messageframe] .avatar { width: 60px; height: 60px; }
}

/* Dark mode? */
[data-theme="dark"] {
   --mainbgcolor: #222; 
   --maintxtcolor: #888;
   --databarbgcolor: #191919; /*#1F1F1F;*/
   --databartxtcolor: #777;
   --databartxthovcolor: #AAA;
   --headercolor: #999;
   --imageopacity: 0.9;
   --inputbgcolor: rgba(255,255,255,0.05);
}

[data-theme="contrast"] {
   --mainbgcolor: #FFF;
   --maintxtcolor: #111;
   --databarbgcolor: #333;
   --databartxtcolor: #FFF;
   --databartxthovcolor: #EEE;
   --headercolor: #000;
   --mutedtextcolor: #666;
   --outlinecolor: #555;
   --tableoutlinecolor: #444;
   --blockbgcolor: #ffef97; /*#FFFF77;*/
   --tabselectcolor: #32d2c0; /*rgba(128,255,240,0.4);*/

   --bgred: rgba(255,0,0,0.5);
   --bgblue: rgba(0,0,255,0.5);
   --bggreen: rgba(0,255,0,0.5);
   --bgyellow: rgba(255,255,0,0.5); 
   --bgorange: rgba(255,150,0,0.5); 
   --bggray: rgba(128,128,128,0.3); 
   --bgpurple: rgba(200,0,255,0.5); 
}

