body {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
}
/* Stuff that should probably be taken over by uikit */
input[type="file"] { cursor: pointer; }
a:hover { color: inherit; }
#postarea textarea { resize: none; }
/* The rest */
.databar {
   background-color: #444;
   color: #AAA;
   padding: 0 0.1em;
}
#topnav a:hover {
   color: #CCC;
}
#leftpane {
   /*background-color: lime;*/
}
#rightpane {
   background-color: rgba(128,128,128,0.05);
   border-left: 2px solid rgba(128,128,128,0.1);
   width: 30em;
   max-width: calc(100vw - 1px);
   min-width: 10em;
}
#rightpanefooter {
   font-size: 0.7em;
   padding: 0 0.5em;
}
#rightpanenav {
   background-color: rgba(128,128,128,0.1);
}
#rightpanenav a:hover {
   background-color: rgba(128,255,240,0.1);
}
/* Special styling JUST for the sidbar nav */
#rightpanenav .uk-active {
   background-color: rgba(128,255,240,0.4);
}
#postarea {
   height: 5em;
   background-color: rgba(128,128,128,0.05);
   border-top: 2px solid rgba(128,128,128,0.1);
   padding-bottom: 1px;
}
.tabnav > div { padding: 0.1em 0; }
/* ------- */
/* Logging
/* ------- */
#logs {
   font-family: monospace;
   font-size: 0.8em;
}
#logs time { 
   font-size: 0.8em; 
   margin: 0.15em;
   opacity: 0.6;
}
.log_debug { color: #BBB; }
.log_error { color: #C42; }
.log_warn { color: #DA6; }
/* -------------------- */
/* Notification special */
/* -------------------- */
.uk-notification-message {
   /*background-color: #EEE;*/
   border: 2px solid rgba(128,128,128,0.1);
}
/*.uk-notification-close {
   display: initial;
}*/
.notification-actual {
   padding-left: 0.5em;
   padding-right: 0.4em;
}
/* -------------------------------------------------- */
/* Pulse styling (should really just use uikit stuff) */
/* -------------------------------------------------- */
[data-pulse] { padding: 0.45em 0.9em 0.5em 0.9em; }
.pulse-name {
   font-size: 1.3em;
   margin-bottom: 0.25em;
}
.pulse-users {
   background-color: rgba(127,127,127,0.1);
   margin-right: 1em;
   padding: 0.05em;
}
.pulse-users [uk-dropdown] { padding: 0.5em; }
.pulse-users table { margin: 0; } 
.pulse-users table td { padding: 0.5em 0.4em; }
.pulse-users table td:first-child { text-align: right; }
.pulse-users [aria-expanded="true"] {  filter: none; }
[data-pulseuser] { 
   margin: 0.3em;   
   filter: opacity(0.7);
}
