body {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   overflow: hidden;
}
img { image-rendering: -webkit-optimize-contrast; }
/* Stuff that should probably be taken over by uikit */
input[type="file"] { cursor: pointer; }
a:hover { color: inherit; }
#postarea textarea { resize: none; }
.noevent { pointer-events: none; }
/* The rest */
.databar {
   background-color: #444;
   color: #AAA;
   padding: 0 0.1em;
}
#topnav a:hover {
   color: #CCC;
}
#leftpane {
   /*background-color: lime;*/
}
#rightpane {
   background-color: rgba(128,128,128,0.05);
   border-left: 2px solid rgba(128,128,128,0.1);
   width: 30em;
   max-width: calc(100vw - 1px);
   min-width: 10em;
}
#rightpanefooter {
   font-size: 0.7em;
   padding: 0 0.5em;
}
#rightpanenav {
   background-color: rgba(128,128,128,0.1);
}
#rightpanenav a:hover {
   background-color: rgba(128,255,240,0.1);
}
/* left-pane stuff (main content!) */
#maincontentbar {
   background-color: rgba(128,128,128,0.1);
   padding: 0.1em;
}
#maincontentbar img {
   margin-top: -3px;
}
#maincontentbarcontrols {
   float: right;
}
#discussionscontainer {
   min-height: 45%;
}
/* Special styling JUST for the sidbar nav */
#rightpanenav .uk-active {
   background-color: rgba(128,255,240,0.4);
}
#postarea {
   height: 5em;
   background-color: rgba(128,128,128,0.05);
   border-top: 2px solid rgba(128,128,128,0.1);
   padding-bottom: 1px;
}
.tabnav > div { padding: 0.1em 0; }
.avatar { border: 1px solid rgba(128,128,128,0.5); }
[data-routeuser] .avatar { max-width: 150px; }
/* ------- */
/* Logging
/* ------- */
#logs {
   font-family: monospace;
   font-size: 0.8em;
}
#logs time { 
   font-size: 0.8em; 
   margin: 0.15em;
   opacity: 0.6;
}
.log_debug { color: #BBB; }
.log_error { color: #C42; }
.log_warn { color: #DA6; }
/* -------------------- */
/* Notification special */
/* -------------------- */
.uk-notification-message {
   border: 2px solid rgba(128,128,128,0.1);
}
.notification-actual {
   padding-left: 0.5em;
   padding-right: 0.4em;
}
/* -------------------------------------------------- */
/* Pulse styling (should really just use uikit stuff) */
/* -------------------------------------------------- */
[data-pw] { padding: 0.45em 0.9em 0.5em 0.9em; }
[data-pwname] {
   font-size: 1.3em;
   margin-bottom: 0.25em;
}
.pw-users {
   background-color: rgba(127,127,127,0.1);
   margin-right: 1em;
   padding: 0 0.3em;
   border-radius: 5px;
}
.pw-users [uk-dropdown] { padding: 0.5em; }
.pw-users table { margin: 0; } 
.pw-users table td { padding: 0.5em 0.4em; }
.pw-users table td:first-child { text-align: right; }
.pw-users [aria-expanded="true"] {  filter: none; }
[data-pwuser] img { 
   margin: 0.4em 0.2em;   
   vertical-align: top;
   filter: opacity(0.7);
   border-radius: 5px;
}
[data-username] {
   margin: 0 0.4em;
}

#navuseravatar
{
   border-radius: 8px;
}
/* Breadcrumb/nav special (uikit default replacements) */
#breadcrumbs [data-breadcrumb] { padding-top: 0.15em; }
.bc-collapse>*::before {
   margin-left: 10px !important;
   margin-right: 5px !important;
}
/* Discussions */
[data-messageframe] [data-useravatar] {
   margin: 0.3em;
   border: 1px solid rgba(127,127,127, 0.5);
   width: 40px;
   box-sizing: content-box;
}
[data-messageframe] .messagelist {
   padding: 0.0em 0.5em 0.5em 0.5em;
}
[data-messageframe] .messageframeinfo {
   /*font-size: 1.1em;*/
}
[data-messageframe] .messagecontrol {
   visibility: hidden;
   margin: 0.2em 0.15em;
}
[data-singlemessage]:focus, [data-singlemessage]:hover  {
   background-color: rgba(127,127,127,0.05);
   border: none;
   outline: none;
}
[data-singlemessage]:focus .messagecontrol,
[data-singlemessage]:hover .messagecontrol {
   visibility: visible;
}
[data-message] img {
   max-height: 50vh;
   display: block;
   margin: 0.5em 0;
}

/* Some reaction crap or whatever it's called */
@media (min-width: 700px) { 
   #breadcrumbs a, #breadcrumbs>*::before { font-size: 1.1em; }
   [data-messageframe] [data-useravatar] { width: 80px; }
}
