body
{
   width: 100vw;
   height: 100vh;
   padding: 0;
   margin: 0;
   border: none;
   position: relative;
   color: #222226;
   font-family: "Trebuchet Ms", sans-serif;
}

/* Some decent margins on headers */
h1, h2, h3
{
   margin: 0.3em 0;
}

/* Everything that I want sized WITHOUT borders/padding (most things). */
form, div, input, button, textarea
{
   box-sizing: border-box;
}

/* Everything that has a border that SHOULDN'T (also these need the font
 * manually applied. */
button, input, textarea
{
   border: 0;
   font-family: "Trebuchet Ms", sans-serif;
}

button:disabled, input:disabled, textarea:disabled
{
   opacity: 0.5;
}

/* Just some general styling for every type of thing */
form, div
{
   display: block;
   margin: 0;
}

/* ALL things with user text will need hidden overflow */
.content, .error, .meta, .section
{
   text-overflow: ellipsis;
   overflow-x: hidden;
}

/* I want all inputs with text to have a little padding (and the same color) */
form input[type="text"], form input[type="password"], form textarea,
form input[type="email"]
{
   padding: 0.25em;
   background-color: #FDFDFD;
   -webkit-box-shadow: 0 0 0 4em #FDFDFD inset; /* A disgusting hack for autofill */
}

/* All buttons and submits (they're buttons) should look the same */
button, input[type="submit"]
{
   cursor: pointer;
   padding: 0.5em;
   font-weight: bold; /* Is it gonna be ok to make every button bold text??? */
   background-color: rgba(0,0,10,0.1);
}

/* Completely fill the parent */
.fill
{
   width: 100%;
   height: 100%;
}

/* Clickable should have a pointer (and maybe other things?) */
.clickable
{
   cursor: pointer;
}

/* Panes and Scrollers and controlboxes ARE containers, meaning they should not
 * constrain the content within (no padding/etc). DON'T TOUCH MARGIN THOUGH */
.container, .scroller, .pane, .controlbox
{
   padding: 0;
   box-sizing: border-box;
}

/* Panes take up the whole available height */
.pane
{
   height: 100%;
}

/* Scrollers auto-scroll the y direction overflow and hide x-overflow */
.scroller
{
   overflow-y: auto;
   overflow-x: hidden;
}

/* control boxes are made to hold nicely-formatted controls */
.controlbox
{
   display: flex; /* you may want to have good backups for non-flex systems */
}

/* Controls within a controlbox need that formatting */
.controlbox .control
{
   height: 100%;
   flex-grow: 1;
   margin: 0;
}

/* Icons have this nice image in the back that's centered/etc. */
.icon
{
   background-repeat: no-repeat;
   background-position: center center;
   background-size: contain;
   text-align: center;
   /*width: 3em;
   height: 2em;*/
}

/* If something is marked as DEFINITELY A CONTAINER FOR AN IMAGE, don't let
 * there be any padding. Just don't. */
.imageicon
{
   padding: 0;
}

.imageicon img
{
   max-width: 100%;
   max-height: 100%;
}

/* If you are a "hover" class, you have some fancy coloring/transitions applied */
.hover
{
   filter: saturate(10%) opacity(75%);
   transition: 0.15s;
}

.hover:hover, .hover:focus
{
   filter: saturate(70%) opacity(100%);
}

.hover[data-active]
{
   filter: saturate(100%) opacity(100%);
}

/* Sections should have content in them (or something) */
.section
{
   margin: 0.5em 0.8em;
}

/* Content should have TEXT in it */
.content
{
   white-space: pre-wrap;
   margin: 0.5em 0em;
   padding: 0.1em;
   font-size: 1em;
   line-height: 1.25em;
}

/* Lists of content have less vertical margin */
.list > .content
{
    margin-top: 0.15em;
    margin-bottom: 0.15em;
}

.meta
{
   float: right;
   font-size: 0.8em;
   padding-left: 1em;
}

.warn { color: #DA0; }
.error { color: #C33; }

/* Logging style */
.log { font-family: monospace; }
.log .info { color: #555; }
.log .error { font-weight: bold; }
.log .debug { color: #AAA; }

/* How to style the standalone form */
form.standalone
{
   width: 100%;
   max-width: 20em;
   background-color: #E9E9EA; /*#DDDDDF;*/
   padding: 1em;
   margin: 1em auto;
}

form.standalone input, form.standalone textarea
{
   width: 100%;
   font-size: 1em;
   margin: 0.25em 0;
   transition: opacity 0.3s;
}

form.standalone textarea
{
   resize: vertical;
   min-height: 3em;
}

form.standalone .header
{
   margin-top: 0;
   text-align: center;
}

/* If you have a "submit" that is NOW an icon, get rid of text and fix it up. 
 * If you DON'T want this implicit, add another class just for this! */
input[type="submit"].icon
{
   background-color: transparent;
   color: transparent;
   opacity: 1;
   filter: none;
   cursor: default;
   pointer-events: none;
}

#cache
{
   display: none;
}

#leftpane
{
   position: absolute;
   left: 0;
   width: 100%;
   padding-right: 12rem; /* same as right pane */
   background-color: #FCFCFD;
}

#rightpane
{
   position: absolute;
   right: 0;
   width: 12rem;
   background-color: #F0F0F2;
}

#leftscroller
{
}

#rightscroller
{
   padding-bottom: 2em; /* Enough for userlink */
}

#smallnav
{
   background-color: #DDDDDF;
   position: absolute;
   right: 0;
   bottom: 0;
   width: 100%;
   height: 2em;
}
