.oldsbs a, .oldsbs footer a, .oldsbs nav li a, .oldsbs notification-area a, .oldsbs ol.searchbarResults li a {
  text-decoration: none;
}
.oldsbs header-title, .oldsbs header-top img {
  height: 1.4rem;
}
.oldsbs li {
  overflow-y: hidden;
}
.oldsbs .likebutton, .oldsbs button, .oldsbs input {
  min-height: 1.5em;
  vertical-align: middle;
  text-decoration: none;
  font-size: 0.8rem;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
}
.oldsbs header-top img, .oldsbs subscribe-area {
  vertical-align: top;
}
.oldsbs .likebutton, .oldsbs button, .oldsbs input, .oldsbs select {
  border-radius: 0.3em;
  max-width: 100%;
  background-color: #eee;
  border: 0.2em solid #777;
  color: #111;
}
.oldsbs .likebutton, .oldsbs button {
  cursor: pointer;
  padding: 0.2em 0.4em;
}
.oldsbs .likebutton:link, .oldsbs .likebutton:visited {
  text-align: center;
  color: #111;
}
.oldsbs footer, .oldsbs footer a:link, .oldsbs footer a:visited, .oldsbs header-top {
  color: #efefef;
}
.oldsbs input.wide {
  width: 20rem;
}
.oldsbs header-top, .oldsbs nav li a {
  width: 100%;
  display: block;
  overflow: hidden;
}
.oldsbs .likebutton:active, .oldsbs button:active, .oldsbs input[type=submit]:active {
  transform: translateY(0.5px);
  outline: 0;
  border-style: inset;
}
.oldsbs .likebutton:active, .oldsbs button:focus, .oldsbs input[type=submit]:focus {
  outline: dotted 0.1rem;
}
.oldsbs .likebutton:active, .oldsbs button:focus:active, .oldsbs input[type=submit]:focus:active {
  outline: 0;
}
.oldsbs input[type=file] {
  min-height: 0;
}
.oldsbs input[type=checkbox]::before {
  background-color: #f7f7f7;
  background-image: none;
  border: 2px solid #1a1a1a;
}
.oldsbs input[type=checkbox]:checked::before {
  background-image: url(/styles/themes/smile/images/Sb-check.png);
}
.oldsbs a {
  transition: color 0.5s ease;
}
.oldsbs a:hover {
  color: #2f89cf;
}
.oldsbs header-top {
  height: 1.7rem;
  box-sizing: border-box;
  background-color: #294969;
  padding: 0.15rem;
}
.oldsbs header-title {
  float: left;
  width: calc(100% - 7rem);
  line-height: 1.4rem;
}
.oldsbs nav {
  font-size: 0;
}
.oldsbs header-top span {
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: calc(100% - 1.8rem);
  font-size: 1.1rem;
  line-height: normal;
}
.oldsbs header nav ul {
  font-size: 0;
}
.oldsbs header nav li {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  box-sizing: border-box;
  margin-right: 0.3rem;
  overflow: hidden;
  white-space: nowrap;
  font-size: 0;
  width: calc(20% - 0.3rem);
  background-color: #8dbfdd;
  padding: 0.2rem 0.3rem;
}
.oldsbs header nav li.active {
  font-weight: 700;
  background-color: #9dcfed;
}
.oldsbs nav li a {
  text-overflow: ellipsis;
  font-size: 1rem;
}
.oldsbs nav li a:link, .oldsbs nav li a:visited {
  color: #000;
}
.oldsbs h1, .oldsbs h2, .oldsbs h3, .oldsbs h4 {
  font-family: noto sans, sans-serif !important;
  font-weight: 700;
  color: #111;
}
.oldsbs h1 {
  margin-left: 1%;
  font-size: 1.8em;
}
.oldsbs h2 {
  margin-left: 1.5%;
}
.oldsbs h3 {
  margin-left: 2%;
}
.oldsbs h4 {
  margin-left: 2.5%;
}
.oldsbs p {
  margin-left: 3%;
  margin-right: 3%;
}
.oldsbs p.bigger {
  font-size: 1.1rem;
}
.oldsbs p.smaller, .oldsbs user-area {
  font-size: 0.8rem;
}
.oldsbs :lang(ja) h1, .oldsbs :lang(ja) h2, .oldsbs :lang(ja) h3 {
  font-family: noto sans jp, sans-serif;
}
.oldsbs ::-webkit-scrollbar {
  background-color: #f8f8f8;
}
.oldsbs form[action^="/search"] {
  position: absolute;
  top: 0.1rem;
  right: 0;
  margin-right: 0.2rem;
  width: 85%;
  height: 1.5rem !important;
  min-width: 5rem;
  max-width: 25rem;
  box-sizing: border-box;
}
.oldsbs form[action^="/search"] input[type=search] {
  font-size: 1em;
  width: 5rem;
  box-sizing: border-box;
  height: 100%;
  transition: all 0.2s;
  border-width: 0.1rem;
  margin: 0 0 0 calc(100% - 5rem);
}
.oldsbs form[action^="/search"] input[type=search]:focus {
  width: 100%;
  margin-left: 0;
}
.oldsbs form[action^="/search"] input[type=submit] {
  background-image: url(/styles/themes/smile/images/Sb-search-icon.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  cursor: pointer;
  width: 1.8rem;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
}
.oldsbs main {
  min-height: calc(100vh - 5.5rem);
  overflow: hidden;
}
.oldsbs select, .oldsbs textarea {
  resize: none;
  font-size: 0.8rem;
  background-color: #fff;
  color: #111;
}
.oldsbs user-area #openRegister {
  float: right;
  font-size: 1.25em;
  margin-top: 0.25em;
}
.oldsbs textarea {
  resize: vertical;
  min-height: 7em;
  border-radius: 2px;
  border: 2px solid #00c8b4;
}
.oldsbs textarea:focus:invalid {
  box-shadow: none;
  border-color: red;
}
.oldsbs [data-status=ERROR] { background-color: #f1bbca; }
.oldsbs [data-status=RUNNING] { background-color: #01b; animation: colorPulse 0.5s infinite alternate; }
.oldsbs [data-status=SUCCESS] { background-color: #afb; }
.oldsbs footer {
  display: block;
  width: 100%;
  margin-top: 3rem;
  height: auto;
  line-height: 1.25rem;
  box-sizing: border-box;
  float: left;
  margin-bottom: 0;
  background-color: #294969;
  padding: 0.15rem 0.15rem 0.15rem 8.35rem;
}
.oldsbs footer a {
  font-size: 1rem;
}
.oldsbs footer a:hover {
  text-decoration: underline;
}
.oldsbs footer span {
  font-size: 0.8rem;
  line-height: 1.3rem;
}
.oldsbs footer toggle-area {
  border-radius: 0.5em;
}
.oldsbs footer dark-toggle {
  cursor: pointer;
  color: #ffd337;
  margin: 0 0.5rem;
}
.oldsbs footer special-links {
  float: right;
}
.oldsbs footer special-links a {
  font-size: 1.25rem;
  margin: 0.5em;
}
.oldsbs form[action*=search] {
  z-index: 3;
}
.oldsbs .alerthover {
  color: #840000;
}
.oldsbs a.alerthover:link, .oldsbs a.alerthover:visited {
  text-decoration: none;
  transition: color 0.5s ease;
  color: #840000;
}
.oldsbs a.alerthover:hover {
  color: #ef2640;
}
.oldsbs .userhover, .oldsbs .userhover:link, .oldsbs .userhover:visited {
  color: #0046aa;
}
.oldsbs .userhover:hover {
  color: #1a6ee7;
}
.oldsbs .smallavatar {
  border: 1px solid #777;
  background-color: #fff;
  width: 3.5rem;
  height: 3.5rem;
}
.oldsbs copy-right {
  font-size: 0.75rem;
}
.oldsbs .likeheader, .oldsbs simple-block, .oldsbs simple-header {
  display: block;
  background-color: rgba(240, 247, 255, 0.8);
  box-shadow: 0.1rem 0.2rem 0.3rem -0.2rem rgba(33, 53, 73, 0.5);
}
.oldsbs simple-block {
  margin-bottom: 1rem;
  border: 1px solid rgba(74, 99, 110, 0.45);
  padding: 0.5rem 1rem;
}
.oldsbs simple-block form {
  margin-left: 1rem;
}
.oldsbs .likeheader, .oldsbs simple-header {
  overflow: hidden;
  border: none;
  margin: 1rem 0 0.5rem;
  padding: 0.5rem;
}
.oldsbs .likeheader h1, .oldsbs .likeheader h2, .oldsbs .likeheader h3, .oldsbs simple-header h1, .oldsbs simple-header h2, .oldsbs simple-header h3 {
  vertical-align: middle;
  display: inline-block;
  margin: 0.1em 0.2em;
}
.oldsbs .datatable td {
  padding: 0.1em 0.5em;
}
.oldsbs .datatable td:first-child {
  font-weight: 700;
  text-align: right;
  max-width: 20rem;
}
.oldsbs .datatable tr:nth-child(2n) {
  background-color: rgba(245, 252, 255, 0.8);
}
.oldsbs .horizontalselect, .oldsbs .horizontalselect a {
  overflow: hidden;
  background-color: rgba(240, 247, 255, 0.8);
  border: 1px solid rgba(74, 99, 110, 0.45);
  box-shadow: 0.1rem 0.2rem 0.3rem -0.2rem rgba(33, 53, 73, 0.5);
}
.oldsbs .about about-list {
  display: block;
  padding: 0 0.5rem;
}
.oldsbs .horizontalselect {
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.oldsbs .horizontalselect a {
  font-weight: 400;
  box-sizing: border-box;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: none;
  -webkit-flex-basis: 7em;
  flex-basis: 7em;
  display: inline-block;
  transition: background-color 0.2s ease;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  margin: 0;
  padding: 0.5em;
}
.oldsbs .horizontalselect a:hover {
  background-color: rgba(41, 51, 71, 0.1);
}
.oldsbs .horizontalselect a[data-current~="1"] {
  background-color: #e6eff3;
  box-shadow: 0 0.1rem 0.2rem rgba(33, 53, 73, 0.5) inset;
}
.oldsbs a:link, .oldsbs a:visited, .oldsbs page-list > a:link, .oldsbs page-list > a:visited {
  color: #3077ae;
}
.oldsbs ::-webkit-scrollbar-thumb, .oldsbs ol.searchbarResults li[selected] {
  background-color: #ccc;
}
.oldsbs .horizontalselect a:link, .oldsbs .horizontalselect a:visited, .oldsbs page-list > a.current:link, .oldsbs page-list > a.current:visited {
  color: #111;
}
.oldsbs .datatable tr:nth-child(2n) td[colspan="2"], .oldsbs .datatable tr:nth-child(2n) tr:nth-child(2n) {
  background-color: rgba(255, 255, 255, 0.8);
}
.oldsbs #chatdraw, .oldsbs #chatdraw animate-area {
  background-color: #f8f8f8;
  position: absolute;
}
.oldsbs #sendpane {
  position: relative;
}
.oldsbs #chatdraw {
  display: block;
  z-index: 10;
  bottom: 1px;
  right: 1px;
}
.oldsbs #chatdraw[data-fixedsize] {
  font-size: 0;
  height: 80vh;
  box-sizing: border-box;
  border: 1px solid #bbb;
  width: calc(100% - 3.25rem - 3.25rem);
}
.oldsbs #chatdraw[data-docked] {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 75%;
}
.oldsbs #chatdraw[data-fixedsize] iframe {
  border: none;
  width: 100%;
  height: calc(100% - 50px);
  margin: 0;
  padding: 0;
}
.oldsbs #chatdraw :focus, .oldsbs #chatdraw:focus {
  outline: 0;
}
.oldsbs #chatdraw canvas, .oldsbs #messagepane canvas {
  display: inline-block;
  vertical-align: bottom;
  image-rendering: pixelated;
  border: 1px solid #bbb;
  margin: 0;
  padding: 0;
}
.oldsbs #chatdraw canvas.lightbox {
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
}
.oldsbs #chatdraw .overlay {
  position: absolute;
  left: 0;
  top: 0;
}
.oldsbs #chatdraw canvas {
  cursor: crosshair;
}
.oldsbs #chatdraw[data-hidden] {
  width: unset;
  height: unset;
}
.oldsbs #chatdraw[data-hidden] :not([data-keep]) {
  display: none !important;
}
.oldsbs #chatdraw button-area {
  display: block;
  font-size: 0;
  background-color: #eee;
}
.oldsbs #chatdraw:not([data-hidden]) > button-area {
  text-align: right;
  border-left: 1px solid #bbb;
  border-right: 1px solid #bbb;
}
.oldsbs #chatdraw button-area button {
  display: inline-block;
  border: none;
  border-radius: unset;
  height: 25px;
  width: 25px;
  font-size: 14px;
  outline: 0;
}
.oldsbs #chatdraw button-area button:hover {
  background-color: #ddd;
}
.oldsbs #chatdraw button-area button:active {
  transform: none !important;
}
.oldsbs #chatdraw button-area button:disabled {
  color: #bbb;
  background-color: #ddd;
}
.oldsbs #chatdraw button-area button[data-selected] {
  background-color: #888;
  color: #eee;
}
.oldsbs chatdraw-controlcontainer {
  width: 1.1rem;
  display: inline-block;
}
.oldsbs chatdraw-controlcontainer > a {
  text-decoration: none !important;
  display: inline-block;
  font-size: 0.8rem;
  cursor: pointer;
  padding: 0 0.2em;
}
.oldsbs chatdraw-controlcontainer .chatdrawplay {
  font-size: 1rem;
}
.oldsbs #chatdraw animate-area {
  left: -201px;
  top: 0;
  width: 200px;
  height: 150px;
  display: block;
  border-left: 1px solid #bbb;
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
}
.oldsbs #chatdraw animate-area > * {
  width: 100%;
}
.oldsbs #chatdraw animate-area animate-scroller {
  display: block;
  height: -webkit-calc(100% - 50px);
  height: calc(100% - 50px);
  overflow-y: scroll;
}
.oldsbs #chatdraw animate-area animate-frames {
  display: block;
}
.oldsbs #chatdraw animate-area animate-frame {
  display: block;
  position: relative;
  margin: 0;
  padding: 2px 7px;
}
.oldsbs #chatdraw animate-area animate-frame[data-selected] {
  background-color: #666;
}
.oldsbs #chatdraw animate-area animate-frames canvas {
  width: 100% !important;
  box-sizing: border-box !important;
  cursor: pointer;
}
.oldsbs #chatdraw animate-area animate-frame frame-controls {
  position: absolute;
  left: 9px;
  bottom: 4px;
  display: block;
  width: -webkit-calc(100% - 18px);
  width: calc(100% - 18px);
  vertical-align: bottom;
}
.oldsbs #chatdraw animate-area animate-frame frame-controls > * {
  height: 11px;
  font-size: 9px;
  border-radius: 0;
  margin: 0;
  padding: 0;
}
.oldsbs #chatdraw animate-area animate-frame frame-controls button {
  border: none;
  background-color: transparent;
  float: right;
  margin: 0 0 0 2px;
  padding: 0;
}
.oldsbs #chatdraw animate-area animate-frame frame-controls input {
  width: 30px;
  box-sizing: border-box;
  border: 1px solid #bbb;
  background-color: #eee;
}
.oldsbs #chatdraw animate-area animate-frame frame-controls .left {
  float: left;
  margin-left: 0;
  margin-right: 2px;
}
.oldsbs #chatdraw animate-area button-area input {
  height: 25px;
  box-sizing: border-box;
  border-radius: 0;
  border: 1px solid #bbb;
  background-color: #eee;
}
.oldsbs #chatdraw animate-area button-area input[type=number] {
  width: 50px;
}
.oldsbs #chatdraw animate-area button-area input[name=name] {
  width: 125px;
}
.oldsbs #chatdraw[data-scale="2"] canvas {
  width: 400px;
}
.oldsbs #chatdraw[data-scale="2"] animate-area {
  height: 300px;
}
.oldsbs #chatdraw[data-scale="2"]:not([data-hidden]) > button-area button {
  height: 50px;
  width: 50px;
  font-size: 28px;
}
.oldsbs #chatdraw[data-scale="3"] canvas {
  width: 600px;
}
.oldsbs #chatdraw[data-scale="3"] animate-area {
  height: 450px;
}
.oldsbs #chatdraw[data-scale="3"]:not([data-hidden]) > button-area button {
  height: 75px;
  width: 75px;
  font-size: 42px;
}
.oldsbs #chatdraw[data-scale="4"] canvas {
  width: 800px;
}
.oldsbs #chatdraw[data-scale="4"] animate-area {
  height: 600px;
}
.oldsbs #chatdraw[data-scale="4"]:not([data-hidden]) > button-area button {
  height: 100px;
  width: 100px;
  font-size: 56px;
}
.oldsbs #chatdraw[data-scale="5"] canvas {
  width: 1000px;
}
.oldsbs #chatdraw[data-scale="5"] animate-area {
  height: 750px;
}
.oldsbs #chatdraw[data-scale="5"]:not([data-hidden]) > button-area button {
  height: 125px;
  width: 125px;
  font-size: 70px;
}
